<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./head %>
</head>
<body class="container" style="top:5%">
    <div class="alert alert-danger" style="display:<%= errorVisibility%>">
        <strong><%= errorName%></strong> <%= errorMessage%>
    </div>
    <main>
        <div class="container m-t-10">
      			<div class="form-group col-md-4 col-md-offset-4">
      				<h2 class="text-center">Welcome to <%= title %></h2>
      			</div>
            <form id="signinform" role="form" action="/authenticate" method="post" class="form-signin">
                <div class="form-group col-md-4 col-md-offset-4">
                    <input type="email" name="email" placeholder="email" id="txtEmail" class="form-control" autofocus="" required="" />
                </div>
                <div class="form-group col-md-4 col-md-offset-4">
                    <input type="password" name="password" placeholder="password" id="txtPassword" class="form-control" required="" />
                </div>
                <div class="form-group col-md-4 col-md-offset-4">
                  <p>Connect with:</p>
                    <a id="lnkBasic" href="javascript:;"><img src="images/basic.png" alt="" class="lazy-login-image"/></a>
                    <!--
                    <a id="lnkGplus" href=""><img src="images/google.png" alt="" class="lazy-login-image"/></a>

                    <a id="lnkDuo" href=""><img src="images/duo.png" alt="" class="lazy-login-image"/></a>
                    <a id="lnkU2f" href=""><img src="images/U2F.png" alt="" class="lazy-login-image"/></a>
                    -->
        				</div>
        				<div class="form-group col-md-4 col-md-offset-4">
        					<button type="submit" class="btn btn-lg btn-primary btn-block" id="btnSignin">Sign in</button>
        				</div>
            </form>
        </div>
    </main>

    <footer class="navbar-fixed-bottom">
        <% include ./footer %>
    </footer>
    <script type="text/javascript">
            $("#lnkBasic").click(function(){
                  $.post("/get_url_basic",function(response){
                    var jsondata = JSON.parse(response);
                    var client_id = getParameterByName("client_id",jsondata.data.authorization_url);
                    var state = getParameterByName("state",jsondata.data.authorization_url);
                    setCookie("client_id",client_id,1);
                    setCookie("state",state,1);
                    window.location.assign(jsondata.data.authorization_url);
                  });
            });
            $("#lnkGplus").click(function(){
                  $.post("/get_url_gplus",function(response){
                    var jsondata = JSON.parse(response);
                    location.href = jsondata.data.authorization_url;
                  });
            });
            $("#lnkDuo").click(function(){
                  $.post("/get_url_duo",function(response){
                    var jsondata = JSON.parse(response);
                    location.href = jsondata.data.authorization_url;
                  });
            });
            $("#lnkU2f").click(function(){
                  $.post("/get_url_u2f",function(response){
                    var jsondata = JSON.parse(response);
                    location.href = jsondata.data.authorization_url;
                  });
            });

            function setCookie(cname, cvalue, exdays) {
                var d = new Date();
                d.setTime(d.getTime() + (exdays*24*60*60*1000));
                var expires = "expires="+ d.toUTCString();
                document.cookie = cname + "=" + cvalue + "; " + expires;
            }

            function getParameterByName(name, url) {
                if (!url) url = window.location.href;
                name = name.replace(/[\[\]]/g, "\\$&");
                var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                    results = regex.exec(url);
                if (!results) return null;
                if (!results[2]) return '';
                return decodeURIComponent(results[2].replace(/\+/g, " "));
            }
    </script>
</body>
</html>
