<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./head %>
</head>
<body class="container" style="top:5%">
  <main>
      <div class="jumbotron container">
        <div class="form-group col-md-12 btn-info">
        <h2 class="text-left col-md-8 m-y-15 p-l-0">Welcome User</h2>
        <a class="btn btn-warning pull-right col-md-offset-3 col-md-1 btn-logout" onclick="logoutuser();" id="lnkLogout" href="javascript:;">Logout</a>
        </div>
        <div class="row">
              <div class="col-md-12 mess_red">
                  <table border="1" class="table table-striped">
                      <thead>
                        <tr>
                          <th>Key</th>
                          <th>Value</th>
                        </tr>
                      </thead>
                      <tbody>
                      <tr>
                          <td>Email</td>
                          <td><span id="lblEmail"><%= email %></span></td>
                      </tr>
                    </tbody>
                  </table>
              </div>
            </div>
      </div>
  </main>
    <footer class="navbar-fixed-bottom">
        <% include ./footer %>
    </footer>
</body>
<script>
  function logoutuser(){
    $.post("/logoutuser",function(response){
      var jsondata = JSON.parse(response);
      window.location = jsondata.data.uri;
    });
  }
</script>
<iframe title='empty' style='visibility: hidden;' width='0' height='0'
  tabindex='-1' id='op' src=''>
</iframe>
<iframe title='empty' style='visibility: hidden;' width='0' height='0'
  tabindex='-1' id='rp' src='https://lanetteam.com:5053/callrp'>
</iframe>
</html>
